<!DOCTYPE html>
<html lang="en">

<head>
    <title>Shelter Management System</title>
</head>

<body>
<div class="container">
    <div class="header">
        <h2 class="text-muted">Shelter Management System</h2>
        <nav>
            <ul>
                <li><a href="/homepage">Home</a></li>
                <li><a href="/animal/view">View All Animals</a></li>
                <li><a href="/animal/of-caretaker">View Animals of a Caretaker</a></li>
                <li><a href="/animal/of-sponsor">View Animals of a Sponsor</a></li>
                <li><a href="/animal/of-species">View Animals of a Species</a></li>
                <li><a href="/animal/without-sponsor">View Animals Without Sponsor</a></li>
                <li><a href="/animal/add">Add Animal</a></li>
                <li><a href="/animal/update">Update Animal</a></li>
                <li><a href="/animal/assign-sponsor">Assign Sponsor</a></li>
                <li><a href="/animal/unassign-sponsor">Unssign Sponsor</a></li>
                <li><a href="/animal/change-caretaker">Change Caretaker</a></li>
                <li><a href="/animal/delete">Delete Animal</a></li>
            </ul>
        </nav>
    </div>
</div>
</body>
</html>
