<!DOCTYPE html>
<html lang="en">

<head>
    <title>Shelter Management System</title>
</head>

<body>
<div class="container">
    <div class="header">
        <h2>Shelter Management System</h2>
        <nav>
            <ul>
                <li><a href="/sign-up">Sign Up</a></li>
            </ul>
        </nav>
    </div>
    <h3>Sign In</h3>
    <form action="/sign-in" method="post">
        Username:<br>
        <input type="text" name="username"><br>
        Password:<br>
        <input type="password" name="password"><br>
        <br>
        <input type="submit" value="Sign In">
    </form>
    {% if message %}
    <p>{{message}}</p>
    {% endif %}
</div>
</body>
</html>
