<!DOCTYPE html>
<html lang="en">

<head>
    <title>Shelter Management System</title>
</head>

<body>
<div class="container">
    <div class="header">
        <h2 class="text-muted">Shelter Management System</h2>
        <nav>
            <ul>
                <li><a href="/homepage">Home</a></li>
                <li><a href="/sponsor/view">View All Sponsors</a></li>
                <li><a href="/sponsor/add">Add Sponsor</a></li>
                <li><a href="/sponsor/update">Update Sponsor</a></li>
                <li><a href="/sponsor/delete">Delete Sponsor</a></li>
            </ul>
        </nav>
    </div>
</div>
</body>
</html>