<!DOCTYPE html>
<html lang="en">

<head>
    <title>Shelter Management System</title>
</head>

<body>
<div class="container">
    <div class="header">
        <h2 class="text-muted">Shelter Management System</h2>
        <nav>
            <ul>
                <li><a href="/homepage">Home</a></li>
                <li><a href="/animal">Animal</a></li>
            </ul>
        </nav>
    </div>
    <form action="/animal/update" method="post">
        Name:<br>
        <input type="text" name="old_name"><br>
        New Name:<br>
        <input type="text" name="new_name"><br>
        New Age:<br>
        <input type="number" name="new_age"><br>
        New Species:<br>
        <input type="text" name="new_species"><br>
        <br>
        <input type="submit" value="Update Animal">
    </form>
    {% if message %}
    <p>{{message}}</p>
    {% endif %}
</div>
</body>
</html>
