<!DOCTYPE html>
<html lang="en">

<head>
    <title>Shelter Management System</title>
</head>

<body>
<div class="container">
    <div class="header">
        <h2 class="text-muted">Shelter Management System</h2>
        <nav>
            <ul>
                <li><a href="/homepage">Home</a></li>
                <li><a href="/shelter-manager">Shelter Manager</a></li>
            </ul>
        </nav>
    </div>
    <form action="/shelter-manager/view" method="post">
        <input type="submit" value="View All Shelter Managers">
    </form>
    {% if message %}
    <p>{{message}}</p>
    {% endif %}
    {% if table %}
    <ol>
    {% for row in table %}
        <li>
        {% for data in row %}
            {{data}}&nbsp;&nbsp;&nbsp;&nbsp;
        {% endfor %}
        </li>
    {% endfor %}
    </ol>
    {% endif %}
</div>
</body>
</html>
